{% extends "base.html" %}
{% block title %}Change you password{% endblock %}
{% block content %}
    <div style="height: 65px">

    </div>
    <div class="container d-flex justify-content-center align-items-center" style="height: calc(100% - 65px)">
        <div style="width: fit-content;" class="p-3 card">
            <h1>Change you password</h1>
            <p>Use the form below to change your password.</p>
            <form action="." method="post">
                {{ form.as_p }}
                <p><input type="submit" class="btn btn-secondary" value="Change"></p>
            {% csrf_token %}
            </form>
        </div>
    </div>

{% endblock %}
