<section class="card wow fadeIn disp-hero h-100">
  <!-- Content -->
  <div class="card-body text-white text-center py-5 px-5 mt-5">
    <h1 class="mt-5 display-1">
      <strong>Let's Blog</strong>
    </h1>
    <h1 class="mb-4">
      <strong>Welcomes You</strong>
    </h1>
    <h3 class="mb-4">
      <strong>Do you have a story to share with the world? join us, share your story!</strong>
    </h3>
    <a href="{% url 'register' %}" class="btn btn-outline-white btn-lg waves-effect waves-light">
      Sign up now
    </a>
  </div>
  <!-- Content -->
</section>