 body {
    /* font-family: 'Rubik', sans-serif; */
   font-family: 'Open Sans', sans-serif;
    background: #eee;
    height: 100vh;
  }

  .disp-hero {
    background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    visibility: visible;
    animation-name: fadeIn;
  }

  .navbar-brand {
    font-family: 'Fredoka One', cursive;
    letter-spacing: 1px;
  }

  .display-1 {
    font-family: 'Fredoka One', cursive;
  }

  #login-form {
    width: 26%;
    min-width: 250px;
    height: 60%;
    padding: 15px;
  }


.m-80 {
    margin-top: 120px;
}

.space {
    line-height: 80%;
}

.page-link {
    outline: none;
}

.fit-width {
   width: 300px;
   max-width: 100%;
}

p {
    line-height: 1.45;


}
